<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <!-- user represents each user instance -->
                <tr>
                    <td><a href="/read_one/{{user.id}}">{{ user.first_name }}</a></td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="/read_one/{{user.id}}">Show</a>|<a href="/update/{{user.id}}">Edit</a>|<a href="/delete/{{user.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/create">Add a New User</a>
</body>
</html>