<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <h1>User {{ user.id }}</h1>
    <a href="/read_all">Home</a>
    <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created On: {{user.created_at}}</p>
    <p>Last update on: {{user.updated_at}}</p>

    <a href="/update/{{user.id}}">Edit</a>
    <a href="/delete/{{user.id}}">Delete</a>
</body>
</html>