<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <img src="{{ url_for('static', filename='assets/my_img.png') }}"> -->
    <title>Checkerboard Assignment</title>
</head>
<body>

    <h1 style="background-color: magenta; text-align: center; padding: 5px;">Say hello to Robyn's magic checkerboard!</h1>
    <div class="container" style="display: grid; grid-gap: 0; grid-template-columns: repeat(8, 70px); grid-template-rows: repeat(8, 70px); grid-auto-flow: row;">
        <div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <!-- <div style="background-color: red; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row">
            <div style="background-color: black; height: 500px; width: 60%;" class="column"></div>
        </div>
        <div style="background-color: black; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: red; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: black; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: red; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: black; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: red; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div>
        <div style="background-color: black; height: 50px; width: 50%; margin: 0 auto; column-count: 8;" class="row"></div> -->


</body>
</html>
