<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Orders</title>
</head>
<body>
    <h1>Cookie Orders</h1>
    <h2>All Orders:</h2>
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Cookie Type</th>
                    <th>Number of Boxes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for each_cookie_order in cookie_order %}
                <tr>
                    <td>{{each_cookie_order.customer_name}}</td>
                    <td>{{each_cookie_order.cookie_type}}</td>
                    <td>{{each_cookie_order.number_of_boxes}}</td>
                    <td><a href='/cookies/edit/{{each_cookie_order.id}}'>edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/cookies/new">+ New Order</a>
</body>
</html>